<h1 class="e">The bluest game jam in Wellington.</h1>
<p class="feature">
	Pxljam is a 48-hour game making competition. Just like many others, you have exactly 48 hours to plan, build and submit your game for the compitition.
</p>
<p>
	Pxljam starts at 6pm on the Friday with the announcement of the theme and runs until 6pm Sunday followed by voting and prize giving. Everyone from first-year university students to seasoned game makers, including non-students, are welcome to sign up and make some games.
</p>
<p>
	You will compete in teams of up to 5 people to make a game inspired by a theme that is only revealed at the start of the competition. You must submit your game by the end of the 48 hours in order to qualify for prizes. There are no restrictions on the amount of preparation your team can make before the event, but we discourage you from building for a specific game. This includes but is not limited to; adapting a pre-made game to the theme and pre-making game assets. The theme is only announced at the start of the competition and we want you to turn up with an open mind for potential games and ideas.
</p>
<p>
	The judging criteria is based on aspects of gameplay, polish, innovation and creativity. These aspects were chosen to reflect the work you do during the competition and rewards teams who focus on the gaming experience than teams who focus on complexity.
</p>