<h1 class="e">The game jam with the best pixels.</h1>
<p class="feature">
	PxlJam is a 48-hour game making competition. You have exactly 48 hours from the start of the competition to plan, build and submit your game for judging.
</p>
<p>
	PxlJam starts at 6pm on Friday with the announcement of the theme and runs until 6pm Sunday followed by voting and prize giving. Everyone from first-year university students to seasoned game makers, including non-students, are welcome to sign up and make some games.
</p>
<p>
	You will compete in teams of up to 5 people to make a game inspired by a theme. This theme will only revealed at the start of the competition. You must have your game ready by the end of the 48 hours in order to qualify for prizes. There are no restrictions on the amount of preparation your team can do before the event but we discourage you from making game assets beforehand or adapting a pre-made game to the theme. We want you to turn up with an open mind for all possible games that could be made from the theme.
</p>
<p>
	The judging criteria are based on aspects of gameplay, polish, innovation and creativity. These aspects were chosen to reflect the work you do during the competition and rewards teams who focus on the gaming experience more than teams who focus on complexity.
</p>