<h1>The bluest game jam in Wellington.</h1>
<p class="feature">
	Pxljam is a 48-hour game making competition with some very unique rules.
</p>
<ul>
	<li>
    	You must use pure Java and the ECS100 library to make your game
  	</li>
  	<li>
    	No external libraries are allowed
  	</li>
  	<li>
    	Your game must be presented primarily through the <code>UI</code> class in the ECS100 library
  	</li>
</ul>
<p>
  Pxljam starts at 6pm on the Friday with the announcement of the theme, and runs until 6pm Sunday followed by voting and prize giving. Everyone from first-year university students to seasoned game makers, including non-students, are welcome to sign up and make some games.
</p>
<p>
  You will compete in teams of up to 5 people to make a game inspired by a theme that is only revealed at the start of the competition. You must submit your game by the end of the 48 hours in order to qualify for prizes and any games that have been found to break the rules will be disqualified.
</p>
<p>
  Your game is only allowed to use the Java standard library, the <a href="https://ecs.victoria.ac.nz/foswiki/pub/Courses/COMP102_2016T1/JavaResources/ecs100.jar">ECS100 library</a>, any code that we provide, and any pure Java that you write yourselves at or before Pxljam. We consider the Java standard library to include all classes available in a standard Oracle/Sun JRE 8. This means no LWJGL, JOGL, JNI, third-party game or physics engines etc. While you must use the window provided by the ECS100 <code>UI</code> class, you are still allowed to modify the <code>JFrame</code>, although we discourage just removing all of its components as it is against the spirit of this competition.
</p>
<p>
  There are no restrictions on the amount of preparation your team can make before the event, but we discourage you from building for a specific game. This includes but is not limited to; adapting a pre-made game to the theme and pre-making game assets. The theme is only announced at the start of the competition and we want you to turn up with an open mind for potential games and ideas.
</p>
<p>
  The judging criteria is based on aspects of gameplay, polish, innovation and creativity. These aspects were chosen to reflect the work you do during the competition and rewards teams who focus on the gaming experience than teams who focus on code complexity.
</p>

<h1>Beginners vs Veterans.</h1>

<div class="row">
	<div class="six columns">
    	<h2>Beginners</h2>
      	<ul>
        	<li>Practise creating code without a strict guideline</li>
        	<li>Learn more about game making and team development</li>
        	<li>Test your skills against seasoned programmers</li>
      	</ul>
    </div>

    <div class="six columns">
    	<h2>Veterans</h2>
      	<ul>
        	<li>Practise making good games with basic tools</li>
        	<li>Share your knowledge of game making with like-minded people</li>
        	<li>Test your programming skills in a restricted domain</li>
      	</ul>
    </div>
</div>