<p class="feature">You know what to do here.</p>
<form id="contact-form" action="//formspree.io/pxljam.nz@gmail.com" method="POST">
	<input name="Name" type="text" placeholder="Name" required>
	<input name="Email" type="email" placeholder="Email" required>
	<input name="_subject" type="text" placeholder="Subject" required>
	<textarea name="Message" placeholder="Message" required></textarea>
	<input type="text" name="_gotcha" style="display:none" />
	<input id="email-submit" type="submit" value="Send" >
</form>