<h1>Enter</h1>
<p>This year we are managing registrations through Google Forms.</p>
<p>Entry is $30 per person, paid in cash on attendance. Sign-ups are done individually and teams will be formed on the day.</p>
<p>T-shirts come in <a href="https://www.brazenclothing.co.nz/collections/t-shirts/products/as-colour-5001m-staple-mens-marle-tee" target="_blank">Male</a> and <a href="https://www.brazenclothing.co.nz/collections/t-shirts/products/as-4001-maple-womens-tee" target="_blank">Female</a> sizes and will be provided on the day to those who sign up at least a week before the event. Those who sign-up later will have to wait for their shirts to be printed in the following week.</p> 
<%= button_to "Enter Now", "https://forms.gle/ax5NStYdjeu39fLL8", style: "float: left;", method: :get, target: "_blank" %>