<h1>Enter</h1>
<p>This year we are managing the event on Jam Engine. You can enter there.</p>
<p>Entry is $30 per person, paid on attendence.</p>
<%= button_to "Enter", "https://jams.acidic.co.nz/events/3", style: "float: left;", method: :get, target: "_blank" %>