<h1>Enter</h1>
<p>This year we're managing the event on Jam Engine. You can enter there.</p>

<%= button_to "Enter", "https://jams.acidic.co.nz/events/3", style: "float: left;", method: :get, target: "_blank" %>