<% if @contest_running %>
<h1>Hold fire!</h1>
<p>
  Sign-ups are closed at the moment, check back again closer to the next competition.
</p>
<% else %>
<h1 class="a">Enter a team</h1>
<p>Signups are open. $30 per team member.</p>
<p>
  Due to the huge number of recent signups, we may not be able to provide shirts <b>on the competition day</b> for those who sign up after the <b>21st of August</b>. We know how much Pxljam contestants love their t-shirts, so don't worry! We'll order extras as signups roll in and you can pick them up when they've been printed.
</p>
<p>
  Please ensure you provide a correct email address for each member as we may send you resources needed for voting during the competition.
</p>
<%= form_tag teams_url, id: "entry-form", method: :post do |f| %>
<%= text_field_tag :name, nil, placeholder: "Team name", id: "team-name", required: true %>
<div id="name-error" class="error">That team name is taken sorry!</div>
<div id="players">
  <div id="players-title"><div>Players</div></div>
  <div id="player-select">
    <input type="radio" name="player-select" id="player-1" value="1">
    <input type="radio" name="player-select" id="player-2" value="2">
    <input type="radio" name="player-select" id="player-3" value="3">
    <input type="radio" name="player-select" id="player-4" value="4">
    <input type="radio" name="player-select" id="player-5" value="5">
    <label for="player-1" id="1"><div>1</div></label>
    <label for="player-2" id="2"><div>2</div></label>
    <label for="player-3" id="3"><div>3</div></label>
    <label for="player-4" id="4"><div>4</div></label>
    <label for="player-5" id="5"><div>5</div></label>
  </div>
</div>

<div id="team-message"></div>

<div id="player-fields">
  <div id="player-email-default" class="" style="display: none;">
    <div id="error" class="error">This email is already registered to another team</div>
    <input type="text" name="name"/>
    <input type="email" name="email" placeholder="Email"/>
    <div class="shirt-size-select">
      <div class="shirt-size-title"><div>Shirt Size</div></div>
      <!-- <input type="radio" name="shirt-size" id="size-XS" value="XS"> -->
      <!-- <label for="size-XS" id="size-XS"><div>XS</div></label> -->
      <input type="radio" name="shirt-size" id="size-S" value="S">
      <label for="size-S" id="size-S"><div>S</div></label>
      <input type="radio" name="shirt-size" id="size-M" value="M">
      <label for="size-M" id="size-M"><div>M</div></label>
      <input type="radio" name="shirt-size" id="size-L" value="L">
      <label for="size-L" id="size-L"><div>L</div></label>
      <input type="radio" name="shirt-size" id="size-XL" value="XL">
      <label for="size-XL" id="size-XL"><div>XL</div></label>
    </div>
  </div>
</div>
<div id="entry-errors"></div>

<%= submit_tag "Enter", id: "team-submit", disabled: true %>
<% end %>
<% end %>