<div class="six columns">
  <p>
    I didn't sign up, can I still come?
  </p>
  <p>
    We can not guarantee participation for anyone who has not signed up before the competition begins or if we have already reached maximum capacity. In addition, we can not guarantee that a t-shirt would have been printed for you beforehand, but you can still receive one after the event. If you are having difficulty registering while sign ups are open please contact us and we will try to help you out.
  </p>
  <p>
    How/when do I pay?
  </p>
  <p>
    Cash (correct change appreciated) at the start of the event. We don't do pre-payment because it is easier to have people who turn up pay than deal with refunds for those who don't. We do not accept EFTPOS. A team must have all of their members pay in order to be fully registered for submission/prizes but members may drop from the team if they don't turn up.
  </p>
  
  <p>
    What does my entry fee cover?
  </p>
  <p>
    The entry fee gets you a t-shirt, allows you to have your game judeged, and allows you to vote and get prizes. PxlJam is an event run by a non-profit organization and proceeds go towards running the event or future similar events in the interest of the participants.
  </p>
  <p>
    How many people can I have in my team?
  </p>
  <p>
    There is no maximum, but we recommend that inexperienced teams have a maximum of five members, as larger teams are harder to coordinate. If you have more than five members we suggest you split up into two or more smaller groups.
  </p>
  <p>
    Can I have team members who aren't VUW students?
  </p>
  <p>
    Yes. You can even have a team entirely comprised of non-students. We encourage anyone who wants to make a game and compete to join up.
  </p>
  <p>
    I need/don't have a team, can I sign up?
  </p>
  <p>
    Yes. Simply register and during the event you can create a team name if you intend to enter alone, or you can create or join a team with others looking for a team or another member.
  </p>
  <p>
    How much preparation can I do?
  </p>
  <p>
    As long as you are not building a game or creating assets before the competition you can do as much preparation as you want. Creating a game engine or developing code snippets are fair game.
  </p>
  <p>
    I don't have anything prepared, can I still win?
  </p>
  <p>
    Yes. See "How does voting/judging work?". The judging criteria have been selected to ensure that games developed by first time competitors stand a chance against veteran teams. There are plenty of free tools for developing games including <a href="https://www.unrealengine.com/" target="_blank">Unreal Engine</a>, <a href="https://unity3d.com/" target="_blank">Unity</a> and <a href="http://www.yoyogames.com/gamemaker" target="_blank">GameMaker</a>. Some practice with your engine of choice beforehand is recommended.
  </p>
  <p>
    How does voting/judging work?
  </p>
  <p>
    Voting is performed by a combination of voting by your peers and guest judges. The judging criteria are based on aspects of gameplay, polish, innovation, and creativity.
  </p>
</div>
<div class="six columns">
  <p>
    Do you supply food or water?
  </p>
  <p>
    Possibly. We may supply some small provisions such as drinks and snacks during the competition but do not count on it sustaining you. Food runs (especially for pizza) are likely so it doesn't hurt to bring some extra cash. Water is freely available at drinking fountains nearby.
  </p>
  <p>
    What do I need to bring?
  </p>
  <p>
    The only things you are "required" to bring are your entry fee and a computer. Everything else, including food, spare clothes and deodorant, is optional but highly recommended. Please bring headphones if you need sound as there will be a lot of other people who do not want or need to listen to your bad music or repetitive gameplay testing (Looking at you TAFT).
  </p>
  <p>
    Do you have a spare computer for me to use?
  </p>
  <p>
    No. See "What do I need to bring?".
  </p>
  <p>
    Will there be internet?
  </p>
  <p>
    Yes. There is guaranteed internet over VUW's guest WiFi. We will also setup faster wired internet and WiFi, provided we don't run into technical troubles (again).
  </p>
  <p>
    Is there (overnight) parking available?
  </p>
  <p>
    Yes. There is free parking available all weekend, see <a href="#where" data-scroll>below</a> for where to park. Officially it is available from 5pm Friday until 5am Monday, but if you're lucky you could park there earlier on Friday night. We take no responsibility if you get ticketed/clamped before 7pm on the Friday though.
  </p>
  <p>
    Can I go home… please?
  </p>
  <p>
    Yes. You can leave and come back anytime, as many times as you want. In the spirit of game jams, we encourage everyone to spend their time programming at the event. We also want people to look after themselves, which can include sleeping in their own bed instead of on the floor. After-hours you will need a current student ID card to access the building, but you can contact one of the event organizers if you get locked out at any point.
  </p>
  <p>
    Can you take care of my stuff?
  </p>
  <p>
    No. We are not responsible for property damaged or stolen at the event. That said, there are security cameras everywhere and we will provide assistance locating missing items if needed.
  </p>
  <p>
    Can I sleep on site?
  </p>
  <p>
    Yes, but please do it within the rooms we have booked for the event. In general, security do not like people sleeping on campus, current students or not.
  </p>
  <p>
    Is this BluJam?
  </p>
  <p>
    No. This is not <a href="http://blujm.nz/" target="_blank">BluJam</a>.
  </p>
  <p>
    What are the prizes?
  </p>
  <p>
    The prizes are not decided before the competition as they are assembled during and revealed at the end.
  </p>
  <p>
    Do bigger teams mean fewer prizes?
  </p>
  <p>
    No. Prizes are awarded per person on the team, which means whether you are competeing solo or in a team of five you will get the same quality of prizes (if you win one).
  </p>
  <p>
    Why the name PxlJam?
  </p>
  <p>
    No-one knows... but seriously, if you figure it out who originally named it and why, we'd like to know as well.
  </p>
</div>