<div class="six columns">
  <p>I didn't sign up, can I still come?</p>
  <p>We can not accept anyone who has not signed up before the competition begins or if we have already reached maximum capacity. If you are having difficulty registering while sign ups are open please contact us and we will try to help you out.</p>

  <p>How/when do I pay?</p>
  <p>Cash (correct change appreciated) at the start of the event. We don't do pre-payment because its easier to have people who turn up pay than deal with refunds for those who don't. We do not accept EFTPOS. A team must have all of their members pay in order to be fully registered for submission/prizes but members may drop from the team if they don't turn up.</p>
  
  <p>What does my entry fee cover?</p>
  <p>The entry fee gets you a t-shirt, allows you to submit your game, vote and get prizes. Pxljam is an event run by a non-profit organization and proceeds go towards running the event or future similar events in the interest of the participants.</p>

  <p>How many people can I have in my team?</p>
  <p>Maximum of 5. We impose a maximum for your own good; larger teams are harder to coordinate. This also keeps the teams on a roughly level playing field in terms of manpower. We suggest you split your potential members into 2 or more smaller groups if you have more people.</p>

  <p>Can I have team members who aren't VUW students?</p>
  <p>Yes. You can even have a team entirely comprised of non-students. We encourage anyone who wants make a game and  compete to join up.</p>

  <p>My team has dropped/added/changed a member, can I change my signup?</p>
  <p>Yes. If you need to make changes to your team signups before the competition, please contact us using the contact form at the bottom of the page and we will edit the submission manually. Please give us the entry to change and the all the details of the new team. You may also change your team at the start of the competition (but not during) by coming to us in person.</p>

  <p>I need/don't have a team, can I sign up?</p>
  <p>Yes. Signup using a placeholder for your team name, then if you find a team see "My team has dropped/added/changed a member, can I change my signup?". If you're still looking for a group at the start of the competition there may be others in the same situation and we will help you to arrange teams before we start. You can enter the competition alone and still do very well (Looking at you Dom) but we advise and encourage you to form teams.</p>

  <p>How much preparation can I do?</p>
  <p>TODO</p>

  <p>I don't have anything prepared, can I still win?</p>
  <p>Yes. See "How does voting/judging work?". The judging criteria has been selected to ensure that even a basic game created by first years with no preparation can stand an equal chance to win against postgraduate team with a home brew engine with full 3d rendering and physics.</p>

</div>

<div class="six columns">
  <p>Do you supply food or water?</p>
  <p>Possibly. We may supply some small provisions such as drinks and snacks during the competition but do not count on it sustaining you. Food runs (especially for pizza) are likely so it doesn't hurt to bring some extra cash. However water is freely available at drinking fountains nearby.</p>

  <p>What do I need to bring?</p>
  <p>The only things you are "required" to bring are your entry fee and a computer. Everything else, including food, spare clothes and deodorant, is optional but highly recommended. Please bring headphones if you need sound as there will be a lot of other people who do not want or need to listen to your bad music or repetitive gameplay testing (Looking at you TAFT).</p>

  <p>Do you have a spare computer for me to use?</p>
  <p>No. See "What do I need to bring?".</p>

  <p>Will there be internet?</p>
  <p>Yes. There is guaranteed internet over VUW's guest WiFi. We will also setup faster wired internet and WiFi, provided we don't run into technical troubles (again). You will need internet to make your final submission.</p>

  <p>Is there (overnight) parking available?</p>
  <p>Yes. There is free parking available all weekend, see <a href="#where" data-scroll>below</a> for where to park. Officially it is available from 7pm Friday until 5am Monday, but if you're lucky you could park there earlier on Friday night. We take no responsibility if you get ticketed/clamped before 7pm on the Friday though.</p>

  <p>Can I go home… please?</p>
  <p>Yes. You can leave and come back anytime, as many times as you want. In the spirit of game jams, we encourage everyone to spend their time programming at the event. We also want people to look after themselves, which can include sleeping in their own bed instead of on the floor. After hours you will need a current student ID card to access the building, but you will be able to contact one of the event organizers if you get locked out at any point.</p>

  <p>Can you take care of my stuff?</p>
  <p>No. We are not responsible for property damaged or stolen at the event. That said, there are security cameras everywhere and we will provide assistance locating missing items if needed.</p>

  <p>Can I sleep on site?</p>
  <p>Yes, but please do it within the rooms we have booked for the event. In general, security do not like people sleeping on campus, current students or not. </p>

  <p>Is this BluJam?</p>
  <p>No. This is not <a href="http://blujm.com/" target="_blank">BluJam</a>.</p>

  <p>What are the prizes?</p>
  <p>The prizes are not decided before the competition but will be assembled during and revealed at the end.</p>

  <p>Do bigger teams mean fewer prizes?</p>
  <p>No. Prizes are awarded per person on the team, which means whether you are on a team of 1 or 5 you will get the same quality of prize (if you win one).</p>

  <p>How does voting/judging work?</p>
  <p>Voting performed by a combination of online voting by your peers and guest judges. The judging criteria are based on aspects of gameplay, polish, innovation and creativity.</p>

  <p>Why the name Pxljam?</p>
  <p>No-one knows...</p>

</div>