<% if @contest_running %>
 	<h1>Last years teams</h1>
	<p>
		In memory of all those  who entered the most recent Pxljam.
	</p>
<% else %>
	<h1>Teams</h1>
	<p>
		Teams that have entered Pxljam so far.
	</p>
<% end %>
<div id="teams-entered">
	<%= render @teams %>
</div>