<p>
	Parking is available (officially) from 5pm Friday until 7am Monday in the staff carpark. We recommend parking just south of the Alan MacDiarmid building as it is the easiest way to access the event if you are driving in.
</p>