<h2>All Entrants</h2>
<p><%= link_to "< Back", admin_teams_url %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Team</th>
  </tr>

  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.email %></td>
      <td><%= player.team.try! :name %></td>
    </tr>
  <% end %>
</table>