body {
  margin: 0px;
  text-align: center;
  color: white;
  font-family: 'Verdana', sans-serif;
  font-size: 12pt;
}

a {
  color: gray;
}

a:hover {
  color: #999999;
}

ul {
  list-style-type: none;
  padding: 0px;
}

section {
  position: relative;
}

.container {
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
}

#space {
  background-color: black;
  padding: 50px 0px;
}

#space h1 {
  margin: 0px;
  position: relative;
  z-index: 2;
}

#space a {
  display: inline-block;
}

#space img {
  vertical-align: top;
}

.star {
  background-color: white;
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: 1;
}

#atmosphere {
  background-color: #000040;
  background-image: linear-gradient(bottom, #000040 0%, #000000 100%);
  background-image: -o-linear-gradient(bottom, #000040 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #000040 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #000040 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #000040 0%, #000000 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #000040),
    color-stop(1, #000000)
  );
}

#upper-sky {
  background-color: #0020A0;
  background-image: linear-gradient(bottom, #0020A0 0%, #000040 100%);
  background-image: -o-linear-gradient(bottom, #0020A0 0%, #000040 100%);
  background-image: -moz-linear-gradient(bottom, #0020A0 0%, #000040 100%);
  background-image: -webkit-linear-gradient(bottom, #0020A0 0%, #000040 100%);
  background-image: -ms-linear-gradient(bottom, #0020A0 0%, #000040 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #0020A0),
    color-stop(1, #000040)
  );
}

#sky {
  background-color: #0020A0;
}

#ground {
  background-color: #5A3D29;
  background-image: url('/images/ground.png'), url('/images/earth.png');
  background-repeat: repeat-x, repeat;
}

#magma {
  background-color: #962800;
  
  background-image: url('/images/deep.png'), url('/images/rock.png');
  background-repeat: repeat-x, repeat;

  padding-bottom: 20px;
}

#footer {
  color: black;
  background-color: white;
  border-top: 3px solid black;

  text-align: center;
  padding: 10px 0px;
  font-size: 8pt;
}

.cloud {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.8;
}

#about {
  position: relative;
}

article {
  display: inline-block;
  width: 800px;
  text-align: left;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

h2 {
  margin-top: 0px;
}

hr {
  height: 1px;
  background-color: gray;
  border: none;
}

form {
  text-align: center;
}

form ul {
  padding: 0px;
  text-align: left;
}

form li {
  list-style-type: none;
  padding: 5px 0px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

input {
  width: 250px;
  vertical-align: middle;
}

textarea {
  width: 500px;
  height: 200px;
  vertical-align: top;
}

#teams li {
  display: inline-block;
  width: 260px;
}

.team-count {
  font-style: italic;
}

#sponsors {
  margin-bottom: 10px;
}

.sponsor {
  max-height: 100px;
  vertical-align: middle;
  margin: 0px 10px;
}

